@import "../../scss/_mixins";
@import "../../scss/variables";
@import "../navbar/navbar.component.scss";

:host {
  display: block;
  position: absolute;
  top: $navbar-height + $navbar-vertical-padding;
  left: 30px;
  border-radius: 5px;
  background-color: $darkgray;
  box-shadow: 0px 10px 16px 5px rgba(0,0,0,0.2);


  transition: all 0.2s linear;
  overflow: hidden;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

li {
  display: flex;
  min-width: 0;
  align-items: center;
  padding: 8px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: $medgray;
  }

}

.link-item {
  font-family: $text-font;
  color: $lightgray;
  font-size: 18px;
  max-width: 50%;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;


}

.search {
  font-weight: 100;
  color: $lightgray
}

  
@include breakpoint-down(small) {
  :host {
    width: 300px;
  }

}

@include breakpoint-up(medium) {
  :host {
    width: 400px;
  }
  
}