<nav class="section">

  <div class="navbar container">
    <a href="#">alnk</a>

    <a href="#" class="button-hamburger hide-on-desktop">
      <span></span>
      <span></span>
      <span></span>
    </a>

    <div class="nav-items hide-on-mobile">
      <app-nav-item [title]="'About'"></app-nav-item>
      <app-nav-item [title]="'Features'"></app-nav-item>
      <app-nav-item [title]="'Pricing'"></app-nav-item>
      <app-nav-item [title]="'Support'"></app-nav-item>
      <app-nav-item [title]="'Resources'"></app-nav-item>

    </div>
  </div>
</nav>