@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap');

@import "../../scss/_mixins";
@import "../../scss/variables";

.navbar {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-color: black;
  color: white;
  font-weight: 600;
}

.nav-items { 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.button-hamburger {
  display: flex;
  flex-direction: column;
  padding: 15px;
    > span {
      display: flex;
      width: 32px;
      height: 4px;
      background-color: hsl(233, 36%, 24%);

      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }
}

a {
  text-decoration: none;
  color: $orange;
  font-weight: 500;
  font-size: 40px;
  font-family: 'Sansita Swashed', cursive;
}




// Visibility
.hide-on-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-on-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}