<nav class="section">

  <div class="navbar container">
    <div class="logo-items">

      <a href="#" [@logoTransition]="searchFocused ? 'focused' : 'unfocused'">alnk</a>

      <div (click)="onSearchBlur()" class="roundButton" [@btnTransition]="searchFocused ? 'focused' : 'unfocused'">
        <i class="material-icons gray round">west</i>
      </div>

      <label class="label">
        <i [@searchTransition]="searchFocused ? 'focused' : 'unfocused'" class="material-icons gray">search</i>
        <input class="search" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
          placeholder="Search for slugs" (focus)="onSearchFocus()" (blur)="onSearchBlur()" [ngModel]="searchText"
          (ngModelChange)="onChange($event)">
      </label>

      <app-search-results *ngIf="searchFocused && searchText !== ''" [searchText]="searchText"
        [links]="linkService.searchedLinks">

      </app-search-results>

    </div>

    <a href="#" class="button-hamburger hide-on-desktop">
      <span></span>
      <span></span>
      <span></span>
    </a>

    <div class="nav-items hide-on-mobile">
      <app-nav-item [title]="'About'"></app-nav-item>
      <app-nav-item [title]="'Features'"></app-nav-item>
      <app-nav-item [title]="'Pricing'"></app-nav-item>
      <app-nav-item [title]="'Support'"></app-nav-item>
      <app-nav-item [title]="'Resources'"></app-nav-item>

    </div>
  </div>
</nav>