@import "../../scss/variables";
@import "../../scss/_mixins";

.hero-banner {
  display: flex;
  flex-direction: row;
  align-items: row;
  width: 100%;
  margin-top: 1rem;
}

.hero-label-container {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}

h1 {
  color: $font-color;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 56px;
}

p {
  color: $font-color;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}

img {
  width: 40%;
  margin: 1rem;
}

@include breakpoint-down(small) {
  .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .hero-label-container {
    width: 100%;
    align-items: center;
    margin: 0
  }

  img {
    width: 50%;
  }

  h1 {
    font-size: 40px;
    text-align: center;
  }

  p {
    font-size: 20px;
    text-align: center;
    padding: 0px 10px 0px 10px;

  }
}
