* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body { 
  font-family: sans-serif;

}

header h1{ 
  margin: 1rem;
  text-align: center;

}

#url-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#link-section {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

#loading {
  margin-top: 15px;
  align-self: center;
}