<div class="section primary">
  <div class="section-container container">

    <div class="shorten-container">
      <input [(ngModel)]="url" name="url" placeholder="Shorten your link" required class="form-control" />
      <input [(ngModel)]="slug" name="slug" placeholder="Slug (Optional)" />


      <button (click)="shorten()" class="shorten-button" type="button">Shorten</button>

    </div>

    <div *ngIf="errorThrown" class="error">{{errorMessage}}</div>

    <app-short-link-box *ngFor="let link of links" [link]="link">
    </app-short-link-box>


  </div>
</div>