<div class="section primary">
  <div class="section-container container">

    <div class="shorten-container">
      <input placeholder="Shorten your link" />


      <button class="shorten-button" type="button">Shorten</button>
    </div>

    <div class="link-container">
      <div class="long-link">
        https://google.comefwafffffffffffffffffeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeef
      </div>

      <div class="short-link-container">
        <a href="https://google.com" target="_blank" class="short-link">https://alnk.link/ewaefawe</a>

        <button class="copy-button">Copy</button>
      </div>
    </div>
    <div class="link-container">
      <div class="long-link">
        https://google.comefwafffffffffffffffffeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeef
      </div>

      <div class="short-link-container">
        <a href="#" class="short-link">https://alnk.link/ewaefawe</a>

        <button class="copy-button">Copy</button>
      </div>
    </div>
    <div class="link-container">
      <div class="long-link">
        https://google.comefwafffffffffffffffffeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeef
      </div>

      <div class="short-link-container">
        <a href="#" class="short-link">https://alnk.link/ewaefawe</a>

        <button class="copy-button">Copy</button>
      </div>
    </div>

  </div>
</div>