$darkgray: #18191A;
$medgray: rgb(59, 59, 59);
$lightgray: #848D92;//light theme #252628;

$orange: orange;
$blue: #05236e;
$lightblue: #2e89ff;
$lightblue-hover: #2a66ff;
$text-font: Arial, Helvetica, sans-serif;
$navbar-height: 60px;
$font-sm: 0.875rem;
$font-med: 1.125rem;
