/* You can add global styles to this file, and also import other style files */
@import "./variables";

.section {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  &.primary {
    background-color:  #05236e;
  }
}

.container {
  display: flex;
}

body {
  margin-top: 60px;
  margin: 60px 0px 0px 0px;
  padding: 0;
}

@media (min-width: 1200px) {
  .container {
      // width: 1170px;
      max-width: 1170px;
  }
}
