/* You can add global styles to this file, and also import other style files */
@import "./variables";

.section {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  &.primary {
    background-color:  $lightgray;
  }
}

.container {
  display: flex;
}

body {
  margin: 80px 0px 0px 0px;
  background-color: $darkgray;

}

@media (min-width: 1200px) {
  .container {
      max-width: 1170px;
  }
}
